<body style="background-color:white;">
<div id="header"></div>
<div class="left"></div>
<div class="stuff">
  <br><br>
  <h1>Resume</h1>
  <h2>Akash Prabhudesai</h2>
  <hr />
  <br>
  <p class="head">Details</p>
  <ul>
      <li>Email:a.prabhudesai@somaiya.edu</li>
      <li>Phone:9137055985</li>
  </ul>
  <p class="head">Education</p>
  <ul>
    <a href="http://nvmb.amritavidyalayam.org/">
      <li>Amrita Vidyalayam High School and Junior College</li>
    </a>
    <a href="http://davnerul.com/">
      <li>DAV PUBLIC SCHOOL</li>
    </a>
    <a href="https://www.coursera.org/">
    <li>Coursera Certifications</li>
    </a>
  </ul>

  <p class="head">Interests</p>
  <ul>
    <li>Sketching</li>
    <li>Photography</li>
    <li>Graphics Design</li>
    <li>Programming</li>
    <li>Computer Science</li>
  </ul>
  <p class="head">Skills</p>
  <ul>
    <li>Android App Development</li>
    <li>Python for Data Science</li>
  </ul>
  
  <p class="head">Experience</p>
  <ul>
    <li>Poster Making Competition Winner for University Level Extension</li>
    <li>BSE Finance Literacy quiz winner</li>
    <li>Sports Quiz Winner at School Level</li>
    <li>DNA Essay Writing Competition Participant</li>
    <li>Robotics Workshop</li>
    <li>International Informatics Olympiad Winner</li>
  </ul>
  <p class="head">Extracurriculars</p>
  <ul>
    <li>Satellite Club</li>
    <li>Enviornmental Club</li>
    <li>Rotary Club</li>
  </ul>
</div>
